/* Remove default html margin, padding and assign box-sizinz as border-box*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 
}

/* Smoth Scrolling effect */

html {
  scroll-behavior: smooth;
}

/* Start of CSS FLEX Header code */

body{
  background-color: lightgray;
}


header {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: #404040;

}

header h1 {
  padding-left: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}

header nav ul li {
    padding: 10px 15px;
    /*measurment of vw is equal to view port measurement. When moving the size of the window, It shrings in size too relatively to the view point of the user"*/
    font-size: 1.55vw;
    font-size: 20px;
    /* Match the Header h1 element on the flex container span element*/
    margin-top: 5px;
    margin-bottom: 10px;
    
}

/* Remove text anchor default decoreations */
header a {
  /* Longer bootom border under the element as mockup */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
 
}

/* End of header code */

/* Start of semantic footer code */

footer {
  background-color: #404040;
  color: lightskyblue;
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
 
  /*
  border-bottom: 2px solid #333366;
  color:  #333366;
  */
  font-size: large;
  font-weight: bold;
}

/* End of semantic footer code */

/* Start of hero section with background */

.hero {
  height: 300px;
  background-image: url("../images/Toronto-night.jpg");
  /* border-radious bottom sides with bottom border changed also*/
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  /* Image will cover the background */
  background-size: cover;
  /* Aligned the image to show the top of the tower*/
  background-position:  100% 13%;
  /* Scroll with the page effect reversed */
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  /* Will define later as required    */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.hero-subtitle {
  padding-bottom: 15px;
  padding-right: 15px;
 
}

/* Start of FLEX CSS Main body code About Me*/

.about-me-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}


.about-me-grid-container {/*CSS Grid*/
  width: 80%;
  display: grid;
  /* Create a 6X4 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(4, 1fr);
  /* Gap on x and y grid */
  gap: 10px 10px; 
}

/* Target the about me text only */
.about-me-item.about-me-title {
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid #333366;
}

.about-me-item.p1 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}

/* End of FLEX CSS Main body code About me*/


/* Start of FLEX CSS Main body code Work projects*/

.work-wrapper {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;

}

.work-grid-container {/*CSS Grid*/
  width: 80%;
  display: grid;
  /* Create a 6X8 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(15, 1fr);
  /* Gap on x and y grid */
  gap: 10px 10px; 
}

.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 15;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid #333366;
}

/* Apply background to any span with this class name */
.span-background {
  background-color: lightskyblue;
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.span-background.title { /* Move away from the top/bottom container*/
  /* Match the header Nav element on the flex container elements*/
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Here section cool subtitle with opacity of 1 */
/* It needs to be adjusted to avoid belending with background */
.span-background.opacity{
  opacity: 1;
  font-size: 30px;
}

.span-background.lower-text {
  font-size: x-small;
}

.work-item-project.challenge-1-refactor {
  grid-column: 2 / span 2;
  grid-row: 1 / span 11;
  background-image: url("../images/challeng-1-refactor-code.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
}

.work-item-project.run-buddy {
  grid-column: 3 /span 1;
  grid-row: 12 / span 4;
  background-image: url("../images/run-buddy-project.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
}


.work-item-project.placeholder1 {
  grid-column: 2 / span 1;
  grid-row: 12 / span 4; 
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  
}

.work-item-project.placeholder2 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 6;
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  background-position: 30%;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
}

.work-item-project.placeholder3 {
  grid-column: 4 / span 1;
  grid-row: 7 / span 5;
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
}

.work-item-project.ghost-item {
  grid-column: 4 / span 1;
  /* Hide Text */
  opacity: 0;
  
}

/* End of FLEX CSS Main body code Work projects*/

/* CSS Flex/Grid Footer non-semantic Code */

.footer-wrapper {
  display: flex;
  /*width: 100%;*/
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container {
  width: 80%;
  display: grid;
  /*create a 6X3 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(3,2fr);
  gap: 20px 20px; 
}

.footer-grid-item {
  text-align: center;
}

.footer-grid-item.contact-me {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid lightskyblue;
}

.footer-grid-item.phone{
  grid-row: 2
}

.footer-grid-item.email{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.footer-grid-item.git-hub{
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

/* End of CSS Flex/Grid Footer non-semantic Code */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* this will be applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {



  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* this will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {
    



  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
   /* this will be applied on any screen smaller than 575px */
  @media screen and (max-width: 575px) {


  }