/* Remove default html margin, padding and assign box-sizinz as border-box*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/

}

/* Smoth Scrolling effect */

html {
  scroll-behavior: smooth;
}

/* Start of CSS FLEX Header code */

body{
  background-color: lightgray;
  /* googleapis font family Karla */
  font-family: 'Martel', serif;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: #404040;
}

header h1 {
  /* At bigger screens create space at left of h1 on header */
  padding-left: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}

header nav ul li {
    padding: 10px 15px;
    /*measurment of vw is equal to view port measurement. When moving the size of the window, It shrings in size too relatively to the view point of the user"*/
    font-size: 1.8vw;
    
    /* Match the Header h1 element on the flex container span element*/
    margin-top: 5px;
    margin-bottom: 10px;
    
}

/* Remove text anchor default decoreations */
header a {
  /* Longer bootom border under the element as mockup */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
 
}

/* End of header code */

/* Start of semantic footer code */

footer {
  background-color: #404040;
  color: lightskyblue;
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
 
  /*
  border-bottom: 2px solid #333366;
  color:  #333366;
  */
  font-size: 1.8vw;
  font-weight: bold;
}

/* End of semantic footer code */

/* Start of class nav-effects */


.nav-effects a:hover{

  
  color: lightskyblue;
  font-weight: bold;
  text-shadow: 0px 0px 20px lightskyblue;
    /* REMOVED - Zoom in effect with font-size 2.5 vw */
    /*Will revisit for next project iteration
   font-size: 2.5vw;*/
    



    
}

/* End of class nav-effects */


/* Start of hero section with background */

.hero {
  height: 300px;
  background-image: url("../images/Toronto-night.jpg");
  /* border-radious bottom sides with bottom border changed also*/
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  /* Image will cover the background */
  background-size: cover;
  /* Aligned the image to show the top of the tower*/
  background-position:  100% 13%;
  /* Scroll with the page effect reversed */
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  /* Will define later as required    */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.hero-subtitle {
  padding-bottom: 15px;
  padding-right: 15px;
 
}

/* Start of FLEX CSS Main body code About Me*/

.about-me-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}


.about-me-grid-container {/*CSS Grid*/
  width: 80%;
  display: grid;
  /* Create a 6X4 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(4, 1fr);
  /* Gap on x and y grid */
  gap: 10px 10px; 
}

/* Target the about me text only */
.about-me-item.about-me-title {
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid #333366;
}

.about-me-item.p1 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}

/* End of FLEX CSS Main body code About me*/


/* Start of FLEX CSS Main body code Work projects*/

.work-wrapper {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;

}

/* Create the ilussion of a brighter image once hovered */


.work-grid-container div:hover{
  mix-blend-mode: color-burn;
}

/* On over ghost item it will not reveal it! */

.work-grid-container .work-item-project.ghost-item:hover{
  opacity: 0;
}


.work-grid-container {/*CSS Grid*/
  width: 80%;
  display: grid;
  /* Create a 6X8 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(8, 1fr);
  /* Gap on x and y grid */
  gap: 10px 10px; 
}


.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 8;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid #333366;
}

.work-item-project.challenge-1-refactor {
  grid-column: 2 / span 2;
  grid-row: 1 / span 6;
  background-image: url("../images/challeng-1-refactor-code.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid rgba(135, 206, 250, 0.8);

  
}


.work-item-project.run-buddy {
  grid-column: 3 /span 1;
  grid-row: 7 / span 2;
  background-image: url("../images/run-buddy-project.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid rgba(135, 206, 250, 0.8);



}


.work-item-project.placeholder1 {
  grid-column: 2 / span 1;
  grid-row: 7 / span 2; 
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  /* Allow the background image to align */
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid rgba(135, 206, 250, 0.8);
  
}

.work-item-project.placeholder2 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid rgba(135, 206, 250, 0.8);
}

.work-item-project.placeholder3 {
  grid-column: 4 / span 1;
  grid-row: 4 / span 3;
  /* Royalty free image */
  background-image: url("../images/pexels-luizclas-556665.jpg");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid rgba(135, 206, 250, 0.8);
}

.work-item-project.ghost-item {
  grid-column: 4 / span 1;
  /* Hide Text */
  opacity: 0;
  
}
/* End of FLEX CSS Main body code Work projects*/

/* Start of span code */

/* Apply background to any span with this class name */
.span-background {
  background-color: lightskyblue;
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.span-background.title { /* Move away from the top/bottom container*/
  /* Match the header Nav element on the flex container elements*/
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Here section cool subtitle with opacity of .95 */
/* It needs to be adjusted to avoid belending with background */
.span-background.opacity{
  opacity: .95;
  font-size: 30px;
}

.span-background.lower-text {
  font-size: x-small;
}
/* End of span code */



/* CSS Flex/Grid Footer non-semantic Code */

.footer-wrapper {
  display: flex;
  /*width: 100%;*/
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container {
  width: 80%;
  display: grid;
  /*create a 6X3 grid. */
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(3,2fr);
  gap: 20px 20px; 
}

/* Start of hover effects on footer */

.footer-container a:hover{
  color: lightskyblue;
  /*REMOVED - Zoom in effect with font-size 1.5vw
  Will revisit for next project iteration
  font-size: 2vw;*/
  font-weight: bold;
  text-shadow: 0px 0px 20px lightskyblue;
}

/* End of hover effects on footer */

.footer-grid-item {
  text-align: center;
}

.footer-grid-item.contact-me {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid lightskyblue;
}

.footer-grid-item.phone{
  /* Grid knows the order to put the elements if only defined on location */
  grid-row: 2;

}

.footer-grid-item.email{
  grid-row: 2;
  

}

.footer-grid-item.git-hub{
  grid-row: 2;

  
}

/* End of CSS Flex/Grid Footer non-semantic Code */


/* Media queries for smaller than desktop screens */

@media screen and (max-width: 1024) {


/* Start of header smaller resolution code */
/* Arranging items in columns of one element */
/* Note that hero and work sections did not need any changes at this resolution */

.nav-effects a:hover{

  
  color: "";
  font-weight: "";
  text-shadow: "";
    /*Zoom in effect with font-size 2.5 vw */
    font-size: "";
    

    
}

/* Start of header smaller screen code changes */

header {
  justify-content: center;
}

header h1 {
/* At smaller screens remove space at left of h1 on header */
padding-left: 0px;
}

/* End of header smaller screen code chnages */



/* Start of about me grid smaller screen code changes */
.about-me-wrapper {
margin-top: 20px;
}

.about-me-grid-container {/*CSS Grid*/
/* Create a 3X6 grid for smaler screen */
grid-template-columns: repeat(3, 2fr);
grid-template-rows: repeat(5, 1fr);
/* Gap on x and y grid */
gap: 5px 5px; 
}

/* Target the about me text only */
.about-me-item.about-me-title {
padding-top: 0px;
font-size: 25px;
grid-column: 1 / span 3;
grid-row: 1 / span 1;
padding-bottom: 5px;
text-align: center;
border-right: none;
border-bottom: 2px solid #333366;
align-self: start;
}

.about-me-item.p1 {
padding-top: 5px;
grid-column: 1 / span 3;
grid-row: 2 / span 2;
}

.about-me-item.p2 {
padding-top: 5px;
grid-column: 1 / span 3;
grid-row: 4 / span 2;
/* Push away the work container from the about me grid containter */
padding-bottom: 10px;
}

/* End of about me grid smaller screen code changes */


/* Start of footer grid smaller screen code changes */

.footer-wrapper {
margin-top: 20px;
}

.footer-container {

/* Create a 3X6 grid for smaler screen */
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
/* Gap on x and y grid */
gap: 2.5px 2.5px; 
}

.footer-grid-item.contact-me {
padding-top: 0px;
font-size: 25px;
grid-column: 1 / span 3;
grid-row: 1 / span 1;
text-align: center;
padding-right: 0px;
padding-bottom: 0px;
border-right: none;
border-bottom: 2px solid lightskyblue;
}

.footer-grid-item.phone{
/* Grid knows the order to put the elements if only defined on location */
grid-column: 1 / span 1;
grid-row: 2 / span 2;
align-self: center;
}

.footer-grid-item.email{

grid-column: 2 span 1;
grid-row: 2 / span 2;
align-self: center;
}

.footer-grid-item.git-hub{

grid-column: 3 span 1;
grid-row: 2 / span 2;
align-self: center;
}

}

/* this will be applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {


  
/* Start of cool subtitle hero section update for smaller screens */

.hero-subtitle {
  padding-right: 30px;
}

.span-background.opacity{
  font-size: 25px;
}



  /* On over ghost item it will not disappear when pressed. */
  
  .work-grid-container .work-item-project.ghost-item:hover{
    opacity: .8;
  }

/* Start of header smaller resolution code */

/* Start of code to remove hover effect on lower resolutions */

.nav-effects a:hover{

  
  color: "";
  font-weight: "";
  text-shadow: "";
  /*Zoom in effect with font-size 2.5 vw */
  font-size: "";
    

    
}


/* End of code to remove hover effect on lower resolutions */





/* Arranging items in columns of one element */
/* Note that hero and work sections did not need any changes at this resolution */


/* Start of header smaller screen code changes */

  header {
    justify-content: center;
}

header h1 {
  /* At smaller screens remove space at left of h1 on header */
  padding-left: 0px;
}

/* End of header smaller screen code chnages */

/* Start of about me grid smaller screen code changes */
.about-me-wrapper {
  margin-top: 20px;
}

.about-me-grid-container {/*CSS Grid*/
  /* Create a 3X6 grid for smaler screen */
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(5, 1fr);
  /* Gap on x and y grid */
  gap: 5px 5px; 
}

/* Target the about me text only */
.about-me-item.about-me-title {
  padding-top: 0px;
  font-size: 25px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  text-align: center;
  padding-right: 0px;
  padding-bottom: 0px;
  border-right: none;
  border-bottom: 2px solid #333366;
}

.about-me-item.p1 {
  padding-top: 5px;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}

.about-me-item.p2 {
  padding-top: 5px;
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  /* Push away the work container from the about me grid containter */
  padding-bottom: 10px;
}

/* End of about me grid smaller screen code changes */


/* Start of footer grid smaller screen code changes */

.footer-wrapper {
  margin-top: 20px;
}

.footer-container {

  /* Create a 3X6 grid for smaler screen */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* Gap on x and y grid */
  gap: 2.5px 2.5px; 
}

.footer-grid-item.contact-me {
  padding-top: 0px;
  font-size: 25px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  text-align: center;
  padding-right: 0px;
  padding-bottom: 0px;
  border-right: none;
  border-bottom: 2px solid lightskyblue;
}

.footer-grid-item.phone{
  /* Grid knows the order to put the elements if only defined on location */
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  align-self: center;
}

.footer-grid-item.email{
  
  grid-column: 2 span 1;
  grid-row: 2 / span 2;
  align-self: center;
}

.footer-grid-item.git-hub{
  
  grid-column: 3 span 1;
  grid-row: 2 / span 2;
  align-self: center;

}

}
/* End of footer grid smaller screen code changes */
  


/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {


  /* Start of semantic header code for viewport */
  header a {
    /*measurment of vw is equal to view port measurement.*/
    font-size: 3vw;
}

footer a {

  font-size: 1.8vw;

}


.nav-effects a:hover{
    /*Zoom in effect with font-size 2.5 vw */
    font-size: 3vw; 
}

.footer-container a:hover{

  font-size: 1.8vw;

}

 /* End of semantic header code for viewport */

  /* Change image attachment to scroll to avoid following the image */
  .hero {
    
    background-attachment: scroll;
    }
    
  /*Fix spacing issue between about-me title and bottom border */


  .about-me-grid-container {/*CSS Grid*/
    /* Create a 3X6 grid for smaler screen */
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: .5fr repeat(4, 1fr);
    /* Gap on x and y grid */
    gap: 5px 5px; 
  }

  /* Target the about me text only */
  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid #333366;
    align-self: start;
  }

  .work-wrapper {
    margin-top: 15px;
  
  }
  
  .work-grid-container {/* CSS Grid */
    /* Create a 3X6 grid for smaler screen */
    /* Will assign size directly to avoid grid span */
    grid-template-columns: repeat(3, 1fr);
    /* .5fr is to fix spacing on main title item */
    grid-template-rows: .5fr repeat(9, 1fr);
    /* Gap on x and y grid */
    gap: 2.5px 2.5px; 
    
  }

  /* Target the about me text only */
  
  .work-item.work-title {

    font-size: 35px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #333366;
    border-right: none;
    align-self: start;
  }

  
  .work-item-project.challenge-1-refactor {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    /*
    background-image: url("../images/challeng-1-refactor-code.JPG");
    background-size: cover;
    display: flex; 
    align-items: flex-end;
    padding-bottom: 15px;
     */
    align-items: flex-end;
    text-align: center;
    /*background-attachment: fixed does not work in mobiles as of now */
    /* similar function */
    background-position: scroll;

    

  }

  .work-item-project.run-buddy {
    grid-column: 1 /span 3;
    grid-row: 5 / span 2;
    /*
    background-image: url("../images/run-buddy-project.JPG");
    background-size: cover;
    display: flex;
    align-items: flex-end; 
    padding-left: 0px;
    padding-bottom: 15px;
    */
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }
  
  
  .work-item-project.placeholder1 {
    grid-column: 1 /span 3;
    grid-row: 7 / span 1;
    /* By paddint top from run buddy all of my grid grew in size */
    /* Allowing proper look. */
    padding-top: 30px;
    /* Royalty free image */
    /*
    background-image: url("../images/pexels-luizclas-556665.jpg");
    background-size: cover;
    display: flex; 
    align-items: flex-end; 
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    */
    /*background-position:  100% 50%;*/
    /*background-attachment: fixed;*/
    background-position: scroll;
    text-align: center;
    
  }
  
  .work-item-project.placeholder2 {
    grid-column: 1 /span 3;
    grid-row: 8 / span 1;
    /* Royalty free image */
    /*
    background-image: url("../images/pexels-luizclas-556665.jpg");
    background-size: cover;
    background-position: 30%;
    display: flex; 
    align-items: flex-end; 
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    */
    /*background-attachment: fixed;*/
    background-position: scroll;
    text-align: center;
  }
  
  .work-item-project.placeholder3 {
    grid-column: 1 /span 3;
    grid-row: 9 / span 1;
    /* Royalty free image */
    /*
    background-image: url("../images/pexels-luizclas-556665.jpg");
    background-size: cover;
    display: flex; 
    align-items: flex-end; 
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    */
    /*background-attachment: fixed;*/
    background-position: scroll;
    text-align: center;
    }
  .work-item-project.ghost-item {
    grid-column: 1 /span 3;
    grid-row: 10 / span 1;
    background-image: url("../images/pexels-luizclas-556665.jpg");
    background-size: cover;
    display: flex; /*Flex required to move the element as flex */
    align-items: center; /*Allow text to be at center of grid*/
    opacity: 1;
    /*background-attachment: fixed;*/
    background-position: scroll;
    text-align: center;
    }

.footer-wrapper { /* Get the footer closer to the work grid container */
  margin-top: 10px;
  }

}

   /* This will be applied on any screen smaller than 575px */
  @media screen and  (max-width: 575px) {


    
  /* Start of semantic header code for viewport */
  header a {
    /*measurment of vw is equal to view port measurement.*/
    font-size: 4vw;
}

footer a {

  font-size: 3.5vw;

}


.nav-effects a:hover{
    /*Zoom in effect with font-size 2.5 vw */
    font-size: 4vw; 
}

.footer-container a:hover{

  font-size: 3.5vw;

}

.footer-grid-item.git-hub{
  padding-right: 40px;
}

    /* Fix flex header to show priperly aligned */

    header nav ul {
      padding-right: 0px;
      justify-content: center;
      /*
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}
    */
    }

    header nav ul li {
      padding: 2px 2px 2px 2px;
    }



    /* Applying view port here first to scale backwards as test */

    p{
      font-size:5vw;
    }



  }